<div class="row-fluid">
  <div class="span2"><%= render :partial => 'partials/taskbar', :locals => { :models => [ 'system_users' ] }%></div>
  <div class="span10">
    <%= render :partial => 'partials/alerts' %>
    <% if @system_user.errors.any? %>
          <div class="alert alert-error" >
          	<a class="close" data-dismiss="alert">×</a> 
            <ul>
	            <% @system_user.errors.full_messages.each do |msg| %>
	              <li><%= msg %></li>
	            <% end %>
            </ul>
          </div>
        <% end %>
    <div class="section_content" style="margin-left: -15px;"><br>
      <%= form_for(@system_user, :url => { :controller => :system_users, :action => :create }, :html => { :class => "form-horizontal"} ) do |f| %>
        <!-- NAME -->
        <div class="control-group">
            <%= f.label "Nombre"+'*', :class => "control-label"  %>
            <div class="controls">
              <%= f.text_field :name, :class => 'span4' %>
            </div>
        </div>
        <!-- LAST-NAME -->
        <div class="control-group">
            <%= f.label "Apellido"+'*', :class => "control-label"  %>
            <div class="controls">
              <%= f.text_field :last_name, :class => 'span4' %>
            </div>
        </div>
        <!-- EMAIL -->
        <div class="control-group">
            <%= f.label "Email"+'*', :class => "control-label"  %>
            <div class="controls">
              <%= f.email_field :email, :class => 'span4' %>
            </div>
        </div>
        <!-- PHONE -->
        <div class="control-group">
            <%= f.label "Teléfono", :class => "control-label"  %>
            <div class="controls">
              <%= f.text_field :phone, :class => 'span4' %>
            </div>
        </div>
        <!-- CELL-PHONE -->
        <div class="control-group">
            <%= f.label "Celular", :class => "control-label"  %>
            <div class="controls">
              <%= f.text_field :cellphone, :class => 'span4' %>
            </div>
        </div>
        <!-- PASSWORD -->
        <div class="control-group">
            <%= f.label "Contraseña"+'*', :class => "control-label"  %>
            <div class="controls">
              <%= f.password_field :password, :class => 'span4' %>
            </div>
        </div>
        <!-- CONFIRM-PASSWORD -->
        <div class="control-group">
            <%= f.label "Confirmar contraseña"+'*', :class => "control-label", :style=>"width: 170px;"  %>
            <div class="controls">
              <%= f.password_field :password_confirmation, :class => 'span4' %>
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="control-group">
          <div class="controls">
             <%= f.submit "Guardar", :disable_with => "Guardando...", :class => "btn btn-primary" %>
          <input value="Cancelar" onclick="window.location='<%= system_users_path %>';" class ="btn btn-inverse" type="button">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>




