<div class="row-fluid">
	
	<div class="span2"><%= render :partial => 'partials/taskbar', :locals => { :models => [ 'system_users' ] }%></div>
	<div class="span10">
		<% if !@system_user.errors.blank?%>
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">×</a>  
				<%= error_messages_for :system_user %>
			</div>
		<% end %>

		<div class="section_content">
			<div style="margin-top:-10px;"><h4><%= @system_user.name + " "+ @system_user.last_name %></h4></div>
			<hr>
			<%= form_tag("reset_password", :method => "post", :class => "form-horizontal") do %>
			
				<!-- PASSWORD -->
				<div class="control-group">
					<%= label_tag "Contraseña"+'*', nil, :class => "control-label-change-password" %>
					<div class="controls"><%= password_field_tag :password %></div>
				</div>

				<!-- CONFIRM PASSWORD -->
				<div class="control-group">
					<%= label_tag "Confirmar contraseña"+'*', nil, :class => "control-label-change-password" %>
					<div class="controls"><%= password_field_tag :password_confirmation %></div>
				</div>

			  <div class="control-group">
		    	<div class="controls" style="padding-left: 38px;">
		    	<%= hidden_field_tag(:id, @system_user.id) %>
		    		<%= submit_tag "Guardar", :disable_with => "Guardando", :class => "btn btn-primary" %>
						<% path = system_user_path(@system_user.id, :my_self_user => true) %>
						<input value="Cancelar" onclick="window.location='<%= path %>';" class ="btn btn-inverse" type="button">
		    	</div>
		    </div>
			<% end %>
		</div>
	</div>
</div>